*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',Arial,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#f8f3e8;
color:#333;
}


/* MENU */

.navbar{

position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);

width:90%;

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 30px;

background:rgba(255,255,255,0.9);

border-radius:25px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

z-index:1000;

}


.logo h1{

color:#2e7d32;

}


.navbar ul{

display:flex;
gap:20px;

list-style:none;

}


.navbar a{

text-decoration:none;
color:#2e7d32;
font-weight:bold;

}


.navbar a:hover{

color:#d4a017;

}




/* PORTADA */

.inicio{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

background:

linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.45)
),

url("img/portada.jpg");

background-size:cover;

background-position:center;

color:white;

padding:20px;

}



.contenido h2{

font-size:55px;

margin-bottom:20px;

}



.contenido p{

font-size:20px;

margin-bottom:30px;

}



.contenido a{

background:#d4a017;

color:white;

padding:15px 30px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}




/* SECCIONES */


section{

padding:90px 10%;

}



section h2{

text-align:center;

font-size:38px;

color:#2e7d32;

margin-bottom:40px;

}



section p{

text-align:center;

line-height:1.8;

font-size:18px;

}





/* TARJETAS */


.tarjetas{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.tarjeta{

background:white;

width:280px;

padding:25px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.12);

transition:.4s;

}



.tarjeta:hover{

transform:translateY(-12px);

}



.tarjeta img{

width:100%;

border-radius:15px;

margin-bottom:15px;

}




/* GALERIA */


.galeria{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}



.galeria img{

width:350px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

transition:.4s;

}



.galeria img:hover{

transform:scale(1.05);

}





/* FOOTER */


footer{

background:#1b5e20;

color:white;

padding:25px;

text-align:center;

}



/* CELULAR */


@media(max-width:800px){

.navbar{

flex-direction:column;

gap:15px;

}


.navbar ul{

flex-wrap:wrap;

justify-content:center;

}


.contenido h2{

font-size:35px;

}

/* ANIMACIONES */

section{

opacity:0;

transform:translateY(50px);

transition:1s ease;

}


section.mostrar{

opacity:1;

transform:translateY(0);

}


}
